body {
    background-color: azure;
}

#title {
    color: slategrey;
    text-align: center;
}


/**/

#message-box {
  text-align: center;
  padding-top: 15px;
}

/**/

#color-code-box {
    padding: 20px 50px;
    margin-bottom: 30px;
}


/**/


#marksboard {
    display: inline-block;
    background-color: lightgrey;
    width: 100px;
    height: 550px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    border-radius: 10px;
    text-align: center;
}

#marksboard ul {
    border: 1px solid black;
    float: left;
    padding-left: 20px;
    margin: 6px;
}

#marksboard li {
    padding: 4px;
    width: 25%;
    float: left;
}

.response-peg {
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.response-peg.response-red {
    background-color: red;
}
.response-peg.response-white {
    background-color: white;
}

.mark {
    height: 5px;
    border-radius: 50%;
    margin-bottom: 5px;
}


/**/


#gameboard {
    display: inline-block;
    clear: both;
    width: 270px;
    background-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-color: darkgrey;
    border-radius: 10px;
    height: 550px;
}

#gameboard ul {
    float: left;
    clear: both;
    margin-bottom: 5px;
}

#gameboard ul li {
    margin-left: 10px;
}

.color-peg {
    border: 2px solid black;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
}
.color-peg.peg-red {
    background-color: red;
}
.color-peg.peg-yellow {
    background-color: yellow;
}
.color-peg.peg-green {
    background-color: green;
}
.color-peg.peg-purple {
    background-color: purple;
}

/**/

#answer-bar {
  text-align: center;
  margin-top:30px;
}

/**/

#submit-button {
    text-align:center;
    margin-top:15px;
    width:100%;
    display: inline-block;
}
